<form layout="column" layout-padding>
    <md-input-container>
        <label>
            Nombre del producto:
        </label>
        <input type="text" ng-model="productAdd.product.name"/>
    </md-input-container>
    <md-input-container>
        <label>
            Categoria:
        </label>
        <input type="text" ng-model="productAdd.product.category"/>
    </md-input-container> 
    <div flex layout="row">
      <span flex></span>
      <md-button ng-click="productAdd.submit()" class="md-accent md-raised">Agregar</md-button>
    </div>
</form>